.rating {
  position: absolute;
  bottom: 5px;
  left: 5px;
  padding: 10px;

  unicode-bidi: bidi-override;
  direction: rtl;
  cursor: pointer;
}

.star .fa-star {
  color: yellow;
}

.star:hover,
.star:hover ~ .star {
  color: yellow;
}
