.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 125px;
}

.login-body {
  display: flex;
  width: 100%;
  height: 100%;
  color: black;
  background-image: url('/public/images/backdrops/login-backdrop.jpg');
  background-size: cover;
}

.login-content {
  margin: auto;
  width: 15%;
  background-color: #f3f3f3;
  padding: 30px;
}

h1 {
  font-size: 1em;
}

.login-form {
}

label {
  display: block;
  font-size: .75em;
  margin-bottom: 2px;
}

.form-group {
  margin-bottom: 10px;
}

input {
  font-size: 16px;
  border: 1px solid #b3b3b3;
  display: block;
  width: 100%;
  line-height: 18px;
  padding: 10px 11px;
  height: 30px;
}

.input-error {
  color: red;
  font-size: 12px;
}

button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  color: #ffffff;
  background-color: #3093c7;
  border: 1px solid #25729a;
}

button:disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

.errorMessage {
  font-weight: bold;
  color: red;
}
