body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #000 !important;
  color: #fff !important;
}

h2 {
  font-size: 1.2em;
  text-transform: uppercase;
}

.movie-container ul {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-flow: row wrap;
}

.movie-container li {
  position: relative;
}

.movie-container input {
  padding: 5px;
  background: #000;
  color: #fff;
  position: absolute;
  right: 95px;
  top: 10px;
}

.movie-container button {
  position: absolute;
  top: 11px;
  right: 25px;
  border: none;
  color: white;
  background-color: black;
  height: 33px;
  padding-top: 6px;
  line-height: 21px;
  width: auto;
  font-weight: bold;
}

.movie-container button:hover {
  border: 1px solid rgb(238, 238, 238);
}

.movie {
  padding: 5px;
  margin-top: 10px;

  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.movie img {
  display: block;
}

.movie-detail {
  position: relative;
}

.movie-header {
  text-align: left;
}

.movie-header img {
  width: 30%;
}

.movie-detail img {
  width: 100%;
}

.movie-detail h3 {
  position: absolute;
  left: 50px;
  bottom: 100px;
}

.movie-detail h4 {
  position: absolute;
  left: 50px;
  bottom: 25px;
}

.movie-detail span {
  position: absolute;
  top: 10px;
  right: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
  cursor: pointer;
}

.close {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.close::before,
.close::after {
  content: '';
  position: absolute;
  height: 4px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -2px;
  background: #fff;
  border-radius: 5px;
}

.close:hover::before,
.close:hover::after {
  background: #1ebcc5;
}
